@charset "UTF-8";
$header-height: 70px;

* {
  box-sizing: border-box;
}

body {
  header {
    height: $header-height;
    background-color: #656565;
    color: #fff;
    text-align: center;

    .container {
      display: inline-block;
      margin: 0 auto;
      width: 80%;
      height: $header-height;
      line-height: $header-height;
      // 選択不可にする

      -ms-user-select: none;
      /* IE 10+ */
      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      //ここまで
      .header-left {
        float: left;
        font-weight: 700;
        font-style: normal;
        font-size: 30px;
        font-family: tbudrgothic-std, sans-serif;
      }

      .header-right {
        @media screen and (orientation: portrait) {
          visibility: hidden;
        }

        a {
          display: inline-block;
          float: right;
          width: 160px;
          background-color: rgba(#fff,.3);
          color: #fff;
          text-decoration: none;
          font-weight: 400;
          font-style: normal;
          font-size: 22px;
          font-family: tbudrgothic-std, sans-serif;

          &:hover {
            background-color: rgba(#fff,.5);
          }
        }
      }
    }
  }

  main {
    .container {
      margin: 0 auto;
      width: 50%;
      font-weight: 400;
      font-style: normal;
      font-family: tbudrgothic-std, sans-serif;

      #in-max {
        padding: 10px;
        width: 100%;
        border: solid 3px #ccc;
        border-radius: 5px;
        color: #aaa;
        // margin: 0 auto;
        text-align: center;
        font-weight: 400;
        font-style: normal;
        font-size: 1.3em;
        font-family: tbudrgothic-std, sans-serif;
      }
      @media screen and (orientation: portrait) {
        width: 70%;
      }
      #logMax {
        text-align: center;
      }
      #inpt {
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
        height: 300px;
        border: solid 3px #ccc;
        border-radius: 5px;
        color: #777;
        text-align: left;
        font-weight: 400px;
        font-style: normal;
        font-size: 1.3em;
        font-family: tbudrgothic-std, sans-serif;
      }

      .area-container {
        margin-top: -13em;
        margin-left: 1.2em;
        color: #949494;
        font-size: 0.5em;
      }
    }
  }
}
