* {
  box-sizing: border-box; }

body header {
  height: 70px;
  background-color: #656565;
  color: #fff;
  text-align: center; }
  body header .container {
    display: inline-block;
    margin: 0 auto;
    width: 80%;
    height: 70px;
    line-height: 70px;
    -ms-user-select: none;
    /* IE 10+ */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
    body header .container .header-left {
      float: left;
      font-weight: 700;
      font-style: normal;
      font-size: 30px;
      font-family: tbudrgothic-std, sans-serif; }
    @media screen and (orientation: portrait) {
      body header .container .header-right {
        visibility: hidden; } }
    body header .container .header-right a {
      display: inline-block;
      float: right;
      width: 160px;
      background-color: rgba(255, 255, 255, 0.3);
      color: #fff;
      text-decoration: none;
      font-weight: 400;
      font-style: normal;
      font-size: 22px;
      font-family: tbudrgothic-std, sans-serif; }
      body header .container .header-right a:hover {
        background-color: rgba(255, 255, 255, 0.5); }

body main .container {
  margin: 0 auto;
  width: 50%;
  font-weight: 400;
  font-style: normal;
  font-family: tbudrgothic-std, sans-serif; }
  body main .container #in-max {
    padding: 10px;
    width: 100%;
    border: solid 3px #ccc;
    border-radius: 5px;
    color: #aaa;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    font-family: tbudrgothic-std, sans-serif; }
  @media screen and (orientation: portrait) {
    body main .container {
      width: 70%; } }
  body main .container #inpt {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    height: 300px;
    border: solid 3px #ccc;
    border-radius: 5px;
    color: #777;
    text-align: left;
    font-weight: 400px;
    font-style: normal;
    font-size: 1.3em;
    font-family: tbudrgothic-std, sans-serif; }
  body main .container .area-container {
    margin-top: -103px;
    margin-left: 7px;
    color: #c7c7c7;
    font-size: 0.5em; }
  body main .container label {
    float: left; }
