@charset "UTF-8";
$header-height: 70px;

* {
  box-sizing: border-box;
}

body {
  header {
    height: $header-height;
    background-color: #656565;
    color: #fff;
    text-align: center;

    .container {
      display: inline-block;
      margin: 0 auto;
      width: 80%;
      height: $header-height;
      line-height: $header-height;
      // 選択不可にする

      -ms-user-select: none;
      /* IE 10+ */
      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      //ここまで
      .header-left {
        float: left;
        font-size: 30px;
      }

      .header-right {
        a {
          display: inline-block;
          float: right;
          width: 160px;
          background-color: rgba(#fff,.3);
          color: #fff;
          text-decoration: none;
          font-size: 22px;

          &:hover {
            background-color: rgba(#fff,.5);
          }
        }
      }
    }
  }

  main {
    #inpt {
      /*ボーダー*/
      height: 300px;
      /*フォントサイズ*/
      border: 1px solid #999999;
      text-align: center; /*  padding: 2px; /*パディング*/
      font-size: 16px;
    }
  }
}
