@charset "UTF-8";
$header-height: 70px;

* {
  box-sizing: border-box;
}

body {
  header {
    height: $header-height;
    background-color: #94cdde;
    color: #fff;
    text-align: center;

    .container {
      position: relative;
      margin: 0 auto;
      width: 98%;
      height: $header-height;
      line-height: $header-height;
      // 選択不可にする

      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      @media screen and (orientation: portrait) {
        width: 80%;
      }
      //ここまで
      .header-left {
        position: absolute;
        display: flex;
        width: 100%;
        font-weight: 700;
        font-style: normal;
        font-size: 30px;
        font-family: tbudrgothic-std, sans-serif;

        p {
          align-items: center;
          justify-content: flex-end;
        }
      }

      .header-right {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0 auto;
        width: 100%;

        #pc {
          width: 160px;
          background-color: rgba(#fff,.3);
          @media screen and (orientation: portrait) {
            visibility: hidden;
          }

          &:hover {
            background-color: rgba(#fff,.5);
          }

          a {
            color: #fff;
            text-decoration: none;
            font-weight: 400;
            font-style: normal;
            font-size: 22px;
            font-family: tbudrgothic-std, sans-serif;
          }
        }

        #phone img {
          visibility: hidden;
          float: right;
          width: $header-height - 15px;
          height: $header-height - 15px;
          border-radius: 5px;
          @media screen and (orientation: portrait) {
            visibility: visible;
          }
        }
      }
    }
  }

  main {
    margin-bottom: 50px;
    .container {
      margin: 0 auto;
      width: 60%;
      font-weight: 400;
      font-style: normal;
      font-family: tbudrgothic-std, sans-serif;
      @media screen and (orientation: portrait) {
        width: 80%;
      }

      .goals {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;

        #in-max {
          float: left;
          padding: 10px;
          width: 30%;
          border: solid 3px #ccc;
          border-radius: 5px;
          color: #222;
          text-align: center;
          font-weight: 400;
          font-style: normal;
          font-size: 1.3em;
          font-family: tbudrgothic-std, sans-serif;
          @media screen and (orientation: portrait) {
            width: 100%;
          }
        }

        #logMax {
          margin: 0;
          text-align: right;
          font-size: 2em;
          @media screen and (orientation: portrait) {
            text-align: center;
          }
        }

        #logMaxSp {
          font-size: 1em;
        }

        #logSum {
          visibility: hidden;
          margin-top: -1em;
          margin-bottom: -1em;
          color: #535353;
          text-align: center;
          @media screen and (orientation: portrait) {
            visibility: visible;
          }
        }
      }

      #inpt {
        padding: 10px;
        width: 100%;
        height: 300px;
        border: solid 3px #ccc;
        border-radius: 5px;
        color: #777;
        text-align: left;
        font-weight: 400;
        font-style: normal;
        font-size: 1.3em;
        font-family: tbudrgothic-std, sans-serif;
      }

      #btn-wrapper {
        display: flex;
        justify-content: center;
      }

      #copy-btn {
        width: 40%;
        height: 50px;
        border: 2px solid #777;
        border-radius: 5px;
        background-color: #487696;
        color: #fff;
        @media screen and (orientation: portrait) {
          width: 100%;
        }

        &:hover {
          background-color: #fff;
          color: #000;
          transition: background-color 0.5s ease 0s;
          transition: color 0.3s ease 0s;
        }
      }

      .area-container {
        color: #d1d1d1;
        font-size: 0.8em;
      }
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #222839;

    .container {
      p {
        color: #fff;
        font-weight: 400;
        font-style: normal;
        font-size: 1.3em;
        font-family: tbudrgothic-std, sans-serif;
      }
    }
  }
}
