@charset "UTF-8";
* {
  box-sizing: border-box;
}

body header {
  height: 70px;
  background-color: #656565;
  color: #fff;
  text-align: center;
}

body header .container {
  display: inline-block;
  margin: 0 auto;
  width: 80%;
  height: 70px;
  line-height: 70px;
  -ms-user-select: none;
  /* IE 10+ */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body header .container .header-left {
  float: left;
  font-size: 30px;
}

body header .container .header-right a {
  display: inline-block;
  float: right;
  width: 160px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}

body header .container .header-right a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

body main #inpt {
  width: 100%;
  /*ボーダー*/
  height: 300px;
  /*フォントサイズ*/
  border: 1px solid #999999;
  text-align: center;
  /*  padding: 2px; /*パディング*/
  font-size: 16px;
}

body main .container {
  margin: 0 auto;
  width: 50%;
}

body main .container input {
  width: 100%;
}
