* {
  box-sizing: border-box; }

body header {
  height: 70px;
  background-color: #656565;
  color: #fff;
  text-align: center; }
  body header .container {
    display: inline-block;
    margin: 0 auto;
    width: 80%;
    height: 70px;
    line-height: 70px;
    -ms-user-select: none;
    /* IE 10+ */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
    body header .container .header-left {
      float: left;
      font-weight: 700;
      font-style: normal;
      font-size: 30px;
      font-family: tbudrgothic-std, sans-serif; }
    @media screen and (orientation: portrait) {
      body header .container .header-right {
        visibility: hidden; } }
    body header .container .header-right a {
      display: inline-block;
      float: right;
      width: 160px;
      background-color: rgba(255, 255, 255, 0.3);
      color: #fff;
      text-decoration: none;
      font-weight: 400;
      font-style: normal;
      font-size: 22px;
      font-family: tbudrgothic-std, sans-serif; }
      body header .container .header-right a:hover {
        background-color: rgba(255, 255, 255, 0.5); }

body main .container {
  margin: 0 auto;
  width: 60%;
  font-weight: 400;
  font-style: normal;
  font-family: tbudrgothic-std, sans-serif; }
  @media screen and (orientation: portrait) {
    body main .container {
      width: 80%; } }
  body main .container .goals {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%; }
    body main .container .goals #in-max {
      float: left;
      padding: 10px;
      width: 30%;
      border: solid 3px #ccc;
      border-radius: 5px;
      color: #222;
      text-align: center;
      font-weight: 400;
      font-style: normal;
      font-size: 1.3em;
      font-family: tbudrgothic-std, sans-serif; }
      @media screen and (orientation: portrait) {
        body main .container .goals #in-max {
          width: 100%; } }
    body main .container .goals #logMax {
      margin: 0;
      text-align: right;
      font-size: 2em; }
      @media screen and (orientation: portrait) {
        body main .container .goals #logMax {
          text-align: center; } }
    body main .container .goals #logMaxSp {
      font-size: 1em; }
    body main .container .goals #logSum {
      visibility: hidden;
      margin-top: -1em;
      margin-bottom: -1em;
      color: #535353;
      text-align: center; }
      @media screen and (orientation: portrait) {
        body main .container .goals #logSum {
          visibility: visible; } }
  body main .container #inpt {
    padding: 10px;
    width: 100%;
    height: 300px;
    border: solid 3px #ccc;
    border-radius: 5px;
    color: #777;
    text-align: left;
    font-weight: 400px;
    font-style: normal;
    font-size: 1.3em;
    font-family: tbudrgothic-std, sans-serif; }
  body main .container #btn-wrapper {
    display: flex;
    justify-content: center; }
  body main .container #copy-btn {
    width: 40%;
    border: 2px solid #777;
    border-radius: 5px; }
    @media screen and (orientation: portrait) {
      body main .container #copy-btn {
        width: 100%; } }
  body main .container .area-container {
    color: #696868;
    font-size: 0.8em; }
